body {
    background-color: darkslategrey;
    color:white;
}

h1 {
    text-decoration: underline;
    margin: 0;
}

header {
    font-size: 25px;
}

section, header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:30px;
}
section > a, header > a {
    padding:8px;
    margin:15px;
    margin-left:40px;
    border: solid 1px white;
    background-color: #1f2f2f
}

a:link {
    color: lightgreen;
}


a:visited {
    color: lightcoral;
}

header {
    display:inline-block;
    margin-top:20px;
}
header > a {
    margin-left:10px;
    padding:20px;
    border: white 3px solid;
}

header h1 {
    margin-bottom:40px;
}
section > h1 {
    flex: 0 0 100%;
}