:root {
    --defaultBorderRadius: 10px;
    --defaultVerySmall: 5px;
    --defaultSmall: 15px;
    --default: 30px;
    --defaultHigh: 50px;
    --defaultVeryHigh: 80px;
    --color1:#44A33D;
    --color2:#70879B;
    --color3:#87BB34;
}

* {
    color: white;
}

a {
    text-decoration: none;
}






header img {
    float:left;
}

nav {
    padding-top:25px;
}

nav ul {
    list-style: none;
    background-color: var(--color1);
    margin: 0;
    padding: 0;
}

nav ul li {
    background-color: var(--color3);
    padding: var(--defaultSmall);
    display: inline-block;
    border-right: solid 5px white;
}

nav ul li:last-child {
    border-right: none;
}

header::after {
    content: "";
    clear: left;
    display: block;
}

header {
    background-color: white;
}










body {
    background-image: url("../Images/A2-1920.jpg");
    height:100%;
    width:100%;
}


/* Colonnes */
.colFormation, .carte-temoignage, form  {
    background-color: var(--color2);
    opacity:0.9;
    border-radius: calc(2* var(--defaultBorderRadius));
    padding: var(--defaultSmall);
    margin: calc(var(--defaultHigh)) auto;
    padding-bottom: 60px;
    
    display:inline-block;
    text-align: center;
    vertical-align:top;
}

form {
    width:80%;
    max-width:1000px;
    min-width:722px;
    text-align: left;
    color:black;
    padding-bottom:100px;
}

form div *:nth-child(1):not(input), form > label{
    display:inline-block;
    width:25%;
    text-align: right;
    vertical-align:middle;
}

form div *:nth-child(2){
    display:inline;
    width:70%;
    text-align: left;
}
form #region *, .button input, select{
    color:black;
    text-align: left;
}
form div:nth-child(14) label{
    vertical-align:top;
}

form > label + div,
form > label + div + div,
form > label + div + div + div,
form > label + div + div + div + div {
    display:inline;
    width:70%;
}
form>div:nth-child(7):after{
    content:"";
    width: 100%;
    display:block;
}

form > * {
    margin-bottom:20px;
}









.colFormation {
    width:40%;
}
.carte-temoignage {
    width:28%;
}

main h1, .carte-temoignage-nom, form .button {
    background-color: var(--color1);
    border-radius: var(--defaultBorderRadius);
    padding: var(--defaultSmall);
    display:inline-block;
    text-transform: uppercase;
    margin: var(--default);
    width:70%;
}
form .button input {
    background-color: var(--color1);
    border:none;
    color:white;
}
form .button {
    position:absolute;
    left:46%;
    width:auto;
}

main h2 {
    background-color: var(--color1);
    border-radius: var(--defaultBorderRadius);
    /*margin: calc(var(--defaultHigh));
    padding: var(--defaultSmall);*/
    padding: var(--defaultVerySmall) 0;

    display: block;
    width: 70%;
    margin: auto;
}

main a {
    border-radius: var(--defaultBorderRadius);
    /*padding: var(--defaultSmall) var(--defaultVeryHigh);*/
    display:block;
    width: 70%;
    margin: auto;
    margin-top:30px;
    padding:var(--defaultSmall) 0;
}

main {
    text-align: center;
    margin:0;
    padding:0;
}


/* Rubriques*/
.colFormation .rubriqueFormation {
    margin:var(--defaultSmall) 0;
    border: solid red 1px;
    border-radius: var(--defaultBorderRadius);
    padding: var(--defaultSmall);
}

.rubriqueFormation-Titre {
    background-color: var(--color1);
    border-radius: var(--defaultBorderRadius);
    /*margin: calc(var(--defaultHigh));
    padding: var(--defaultSmall);*/
    padding: var(--defaultVerySmall) 0;

    display: block;
    width: 70%;
    margin: auto;
}

.carte-temoignage-fonction, .carte-temoignage-entreprise {
    color:purple;
    font-weight:bold ;
}

.carte-temoignage-message {
    text-align: justify;
}


main img {
    min-width:150px;
    height:auto;
}

main .carte-temoignage img {
    border: solid white 10px;
    outline: solid 3px purple;
    width:40%;
}

main .gallery img {
    background-color: var(--color3);
    width:20%;
    max-width:200px;
    padding:var(--defaultSmall);
}
main .gallery {
    display:flex;
    flex-wrap: wrap;
    margin:auto;
    justify-content: center;
}
