:root {
    --defaultBorderRadius: 10px;
    --defaultVerySmall: 5px;
    --defaultSmall: 15px;
    --default: 30px;
    --defaultHigh: 50px;
    --defaultVeryHigh: 80px;
}

* {
    color: white;
}

a {
    text-decoration: none;
}






header img {
    float:left;
    background-color: orange;
}

nav {
    padding-top: 25px;
}

nav ul {
    list-style: none;
    background-color: #44A33D;
    margin: 0;
    padding: 0;
}

nav ul li {
    background-color: #87BB34;
    padding: var(--defaultSmall);
    display: inline-block;
}

nav ul li:last-child {
    border-right: none;
}

header::after {
    content: "";
    clear: left;
    display: block;
}

/* Juste au-dessus son équivalent:
main {
    clear:left;
}*/
header {
    background-color: white;
}










body {
    background-image: url("../Images/A2-1920.jpg");
    height:100%;
    width:100%;
}



main {
    text-align: center;
    margin:0;
    padding:0;
    margin: calc(var(--default));
    background-color: #70879B;
    opacity:0.9;
    border-radius: calc(2* var(--defaultBorderRadius));
    padding: var(--defaultSmall);
    text-align: center;
    margin: calc(var(--defaultHigh)) auto;
    padding-bottom: 60px;
    max-width: 700px;
}

main h1 {
    background-color: #44A33D;
    border-radius: var(--defaultBorderRadius);
    padding: var(--defaultSmall);
    margin: var(--default);
    text-transform: uppercase;
    text-align:center;
}

main h2 {
    background-color: #44A33D;
    border-radius: var(--defaultBorderRadius);
    /*margin: calc(var(--defaultHigh));
    padding: var(--defaultSmall);*/
    padding: var(--defaultVerySmall) 0;

    display: block;
    width: 70%;
    margin: auto;
}

main a {
    background-color: red;
    border-radius: var(--defaultBorderRadius);
    /*padding: var(--defaultSmall) var(--defaultVeryHigh);*/
    display:block;
    width: 70%;
    margin: auto;
    margin-top:30px;
    padding:var(--defaultSmall) 0;
}


.colFormation .rubriqueFormation {
    margin:var(--defaultSmall) 0;
    border: solid red 1px;
    border-radius: var(--defaultBorderRadius);
    padding: var(--defaultSmall);
}

.colFormation {
    width:40%;
    display:inline-block;
    text-align: center;
    vertical-align:top;
    


}


.rubriqueFormation-Titre {
    background-color: #44A33D;
    border-radius: var(--defaultBorderRadius);
    /*margin: calc(var(--defaultHigh));
    padding: var(--defaultSmall);*/
    padding: var(--defaultVerySmall) 0;

    display: block;
    width: 70%;
    margin: auto;
}